.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 20px;
    height: 65px;
    width: 97%;
    background-color: #282828;
}

.footer__right * .MuiSlider-root {
    color: green;
}

.footer__left {
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
    flex: 0.3;
}
  
.footer__center {
    flex: 0.4;
    max-width: 300px;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.footer__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex: 0.3;
}